[Unit]
Description=HAPI FHIR Genomics Server

[Service]
ExecStart=/usr/bin/java -jar /home/gaston/bin/hapi-fhir-cli.jar run-server
TimeoutStartSec=infinity
Restart=always
WorkingDirectory=/home/gaston/bin/server
User=gaston

[Install]
WantedBy=multi-user.target
